body {
    width: 100%;
    margin 0%;
    padding: 0%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.intro {
    margin-top: 53px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.galeri {
    margin-top: 50px;
}

.Intro-text {
    margin-top: 30px;
    margin-left: 20px;
}

.Intro {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Intro-img {
    margin-left: 30px;
    margin-top: 16px;
}