body {
    width: 100%;
    margin 0%;
    padding: 0%;
    height: 2000px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.intro {
    margin-top: 53px;
}



.row {
    margin: 0px;
    padding: 0px;
}
.galeri {
    margin-top: 50px;
}